{% extends 'base.html' %}

{% block title %}Order History{% endblock title %}

{% block content %}
<div class="container mt-5" style="min-height: 600px;">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <h1 class="mb-4">Order History</h1>
            {% if order_history %}
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Address</th>
                            <th>Phone Number</th>
                            <th>Products</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_history %}
                            <tr>
                                <td>{{ order.name }}</td>
                                <td>{{ order.address }}</td>
                                <td>{{ order.phone_number }}</td>
                                <td>
                                    <ul>
                                        {% for cart_item in order.cart_items %}
                                            <li>
                                                <a href="{% url 'productsview' cname=cart_item.products.category.name pname=cart_item.products.name %}">
                                                    {{ cart_item.product_quantity }} x {{ cart_item.products.name }} -
                                                    ₹{{ cart_item.products.selling_price }} each
                                                    (Total: ₹{{ cart_item.total_cost }})
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>No orders found.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
